<div class="container">
  <div class="level-content {{isStepperDisplayed ?
      'content-height-with-stepper' :
      'content-height-without-stepper'}}"
  >
    @if(window.innerWidth > 1400){
      <kypo-split-container
        class="split-container"
        [leftPanelContent]="leftPanelContent"
        [rightPanelContent]="rightPanelContent"
        [leftPanelMinWidth]="'20%'"
        [rightPanelMinWidth]="'510px'"
        [defaultRatio]="0.6"
        [dividerPositionSynchronizer]="dividerPositionSynchronizer"
        (rightPanelWidth)="emitTopologySizeChange()"
      />
    } @else {
      <ng-container [ngTemplateOutlet]="leftPanelContent"/>
      <ng-container [ngTemplateOutlet]="rightPanelContent"/>
    }
  </div>
  @if ((isLoading | async) === false){
    @if ((isCorrectAnswerSubmitted$ | async) || isBacktracked) {
      <button
        class="next-button"
        mat-raised-button
        (click)="next.emit()">
        {{ isLast && !isBacktracked ?  "Finish" : "Next" }}
      </button>
    } @else {
      <kypo-floating-answer-form
        (answerSubmit)="answerSubmitted.emit($event)"
        [buttonLabel]="isLast ? 'Finish' : 'Submit'"
      >
        @if (hints){
          <ng-container [ngTemplateOutlet]="hints"/>
        }
      </kypo-floating-answer-form>
    }
  }
</div>

<ng-template #leftPanelContent>
  <div class="left-panel round-scrollbar">
    <sentinel-markdown-view [markdown]="levelContent"/>
    @if (displayedSolutionContent$ | async){
      <h2><span class="solution-color"> Solution: </span></h2>
      <sentinel-markdown-view [markdown]="displayedSolutionContent$ | async"/>
    }
  </div>
</ng-template>

<ng-template #rightPanelContent>
  <div #rightPanel class="right-panel">
    <kypo-topology-wrapper
      class="topology-wrapper"
      [loading]="isLoading"
      [sandboxInstanceId]="sandboxInstanceId"
      [sandboxDefinitionId]="sandboxDefinitionId"
      [topologySizeSynchronizationService]="topologySizeSynchronizer"
      (getAccessFile)="getAccessFile.emit($event)"
    />
  </div>
</ng-template>
