<ng-container [ngSwitch]="level.type">
  <kypo-training-level-edit *ngSwitchCase="levelTypes.Training"
                        [variantSandboxes]="variantSandboxes"
                        [level]="level"
                        (levelChange)="onLevelChange($event)">
  </kypo-training-level-edit>
  <kypo-info-level-configuration *ngSwitchCase="levelTypes.Info"
                                 [level]="level"
                                 (levelChange)="onLevelChange($event)">
  </kypo-info-level-configuration>
  <kypo-assessment-level-configuration *ngSwitchCase="levelTypes.Assessment"
                                       [level]="level"
                                       (levelChange)="onLevelChange($event)">
  </kypo-assessment-level-configuration>
</ng-container>
