<form [formGroup]="ratingFormFormGroup.questionFormGroup">
    <div class="question-container">
        <!-- TITLE field-->
        <div class='question-text'>
            <sentinel-markdown-editor
                [sentinel-markdown-file-upload]="false"
                (contentChange)="title.setValue($event)"
                [content]="title.value"
            />
            <mat-error *ngIf="title.hasError('whitespace')">Question text cannot be empty</mat-error>
        </div>
    </div>
    <h2>Rating Levels:</h2>
    <div class="rating-form-choices" formArrayName="choices">
        <div class="rating-level" *ngFor="let choiceGroup of choices.controls; index as i;" [formGroupName]="i">
            <mat-checkbox *ngIf="questionnaireType === questionnaireTypes.Adaptive"
                          class="option-checkbox"
                          matTooltip="Correct"
                          formControlName="correct"/>
            <mat-form-field appearance="outline" class="rating-level-node">
                <mat-label>Level {{ i + 1 }}</mat-label>
                <input matInput placeholder="Level Text" formControlName="text" required/>
                <mat-error *ngIf="choiceGroup.get('text').hasError('required')">Level text cannot be empty</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="rating-level-field">
    <div class="question-fields">
        <mat-form-field appearance="outline">
            <mat-label>Rating Level</mat-label>
            <mat-select [(ngModel)]="selectedRatingLevel">
                <mat-option *ngFor="let number of ratingLevelOptions" [value]="number"
                            (click)="ratingLevelChanged(number)">
                    {{ number }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
