<mat-form-field *ngIf="!(hasPool$ | async) else hasPoolTemplate" appearance="fill">
  <mat-label>Available Pools</mat-label>
  <mat-select (selectionChange)="onSelectionChange($event.value)">
    <mat-option *ngFor="let pool of (pools$ | async)" [value]="pool.title">
      {{pool.title}}
    </mat-option>
  </mat-select>
</mat-form-field>
<ng-template #hasPoolTemplate>
  <h4>Pool {{ trainingInstance.poolId}} is assigned to this training instance.
    <a mat-button color="accent" [routerLink]="this.poolDetailRoute">Show</a>
  </h4>
</ng-template>
