<mat-expansion-panel  [expanded]="(editMode$ | async) === false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="(editMode$ | async) else newTrainingTitle">Edit Adaptive Training Instance</span>
      <ng-template #newTrainingTitle>Create Adaptive Training Instance</ng-template>
    </mat-panel-title>
    <mat-panel-description>
      <span>{{ tiTitle$ | async }}</span>
      <span class="spacer"></span>
      <div class="panel-description-error" *ngIf="!canDeactivateTIEdit">
        <mat-icon color="warn">warning</mat-icon>
        <mat-error>Changes are not saved</mat-error>
      </div>
      <mat-icon>edit</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <sentinel-controls [controls]="controls" (itemClicked)="onControlsAction($event)">
    </sentinel-controls>
    <mat-divider></mat-divider>
    <kypo-adaptive-instance-edit
      (edited)="onTrainingInstanceChanged($event)"
      [hasStarted]="hasStarted$ | async"
      [trainingInstance]="trainingInstance$ | async">
    </kypo-adaptive-instance-edit>
  </ng-template>
</mat-expansion-panel>

<mat-expansion-panel [disabled]="(editMode$ | async) === false" [expanded]="editMode$ | async">
  <mat-expansion-panel-header>
    <mat-panel-title>Assign Pool</mat-panel-title>
    <mat-panel-description>
      <span class="spacer"></span>
      <div class="panel-description-error" *ngIf="!canDeactivatePoolAssign">
        <mat-icon color="warn">warning</mat-icon>
        <mat-error>Pool is not saved</mat-error>
      </div>
      <mat-icon>view_module</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <kypo-pool-assign [trainingInstance]="trainingInstance$ | async">
    </kypo-pool-assign>
  </ng-template>
</mat-expansion-panel>

<mat-expansion-panel [disabled]="(editMode$ | async) === false" [expanded]="editMode$ | async">
  <mat-expansion-panel-header>
    <mat-panel-title>Edit Organizers</mat-panel-title>
    <mat-panel-description>
      <span class="spacer"></span>
      <div class="panel-description-error" *ngIf="!canDeactivateOrganizers">
        <mat-icon color="warn">warning</mat-icon>
        <mat-error>Organizers are not saved</mat-error>
      </div>
      <mat-icon>person</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <sentinel-user-assign *ngIf="editMode$ | async"
                       resourceMatIcon="event_available"
                       (hasUnsavedChanges)="onOrganizersChanged($event)"
                       [resource]="trainingInstance$ | async"
                       [defaultPaginationSize]="defaultPaginationSize"
                       toAssignTitle="Organizers"
                       assigneesTitle="Organizers">
    </sentinel-user-assign>
  </ng-template>
</mat-expansion-panel>
