<div class="team-wrapper">
    @switch (selectedView()) {
        @case (null) {
            <div class="vflex">
                <button
                    mat-fab
                    class="handle"
                    matTooltip="View team"
                    matTooltipPosition="before"
                    [disabled]="!team"
                    (click)="selectedView.set('team')"
                >
                    <mat-icon>group</mat-icon>
                </button>
                <button
                    mat-fab
                    class="handle"
                    matTooltip="View chat"
                    matTooltipPosition="before"
                    [disabled]="!team"
                    (click)="selectedView.set('chat')"
                >
                    <mat-icon>message</mat-icon>
                </button>
                <button
                    mat-fab
                    class="handle"
                    matTooltip="View scoreboard"
                    matTooltipPosition="before"
                    [disabled]="!team"
                    (click)="selectedView.set('scoreboard')"
                >
                    <div class="team-position-number">#{{getTeamPositionStr()}}</div>
                </button>
            </div>
        }
        @case ('team') {
            <div class="extended-header"
                 (click)="selectedView.set(null)"
            >
                <mat-icon class="handle-icon">group</mat-icon>
                <h4 class="extended-label">{{ team.name }}</h4>
            </div>
            <div class="list-wrapper">
                <crczp-grid-list
                    class="round-scrollbar"
                    [items]="team.members"
                    [gridGap]="'0.5rem'"
                    [trackBy]="getId"
                    [template]="teamTemplate"
                />
            </div>
        }
        @case ('chat'){
            <div class="extended-header"
                 (click)="selectedView.set(null)"
            >
                <mat-icon class="handle-icon">chat</mat-icon>
                <h4 class="extended-label">Chat</h4>
            </div>
            <div class="list-wrapper">
                <crczp-chat-view
                    class="wh-100"
                    [team]="team"
                    [messages]="messages"
                    [currentUserId]="currentUser?.id"
                    [numberOfMessagesToDisplay]="20"
                />
            </div>
        }
        @case ('scoreboard'){
            <div class="extended-header"
                 (click)="selectedView.set(null)"
            >
                <mat-icon class="handle-icon">scoreboard</mat-icon>
                <h4 class="extended-label">Scoreboard</h4>
            </div>
            <div class="list-wrapper">
                <crczp-teams-scoreboard
                    class="scoreboard"
                    [usersTeamId]="team?.id"
                    [teamsScores]="limitedScoreboard.scoreboard"
                    [positionsBeforeUserTeam]="limitedScoreboard.countBeforeUserTeam"
                    [positionsAfterUserTeam]="limitedScoreboard.countAfterUserTeam"/>
            </div>
        }
    }
</div>


<ng-template #teamTemplate let-member>
    <mat-card class="team-member">
        <crczp-player-view [player]="member"></crczp-player-view>
    </mat-card>
</ng-template>
