.team-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 30dvh;
    right: -0.25rem;
    padding-right: 0.25rem;
    z-index: 1000;
}

.handle {
    border-radius: 2rem 0 0 2rem;
    background-color: var(--primary-80);
    box-shadow: none;
}

.handle:hover {
    cursor: pointer;
    background: var(--primary-70);
}

.handle-icon {
    width: 3.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-position-number {
    background-color: var(--primary-10);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-98);
    font-weight: bold;
    font-style: italic;
}

.team {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-95);
    border-radius: 0 0 0 1rem;
    padding-bottom: 1rem;
    margin-left: 3.5rem;
}

.extended-header {
    z-index: 1001;
    min-height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-radius: 2rem 0 0 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: var(--primary-80);
    color: var(--primary-10);
    text-wrap: wrap;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.extended-header:hover {
    cursor: pointer;
    background: var(--primary-70);
}

.extended-label {
    padding: 0;
    margin: 0 0.5rem;
    text-align: center;
}

.chat-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(50dvh - 5rem);
}

.content-wrapper {
    margin-bottom: 0.5rem;
    max-height: 50dvh;
    background: var(--primary-80);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0 0 0 0.75rem;
    overflow-y: auto;
}

.list {
    width: 100%;
    max-height: 50dvh;
}

.team-member {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.member-name {
    font-size: 1.5rem;
    font-weight: 500;
}

.member-level {
    margin-left: 0.25rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 2px white solid;
    box-shadow: 0 0 5px 1px gainsboro;
}

.scoreboard {
    width: 100%%;
    height: 100%;
    display: flex;
}
