<ng-template #projectedElementTemplate let-element>
  <span>{{ element.title }}</span>
</ng-template>

<div class="mat-typography content">
  <h1 mat-dialog-title>Select Training Definition</h1>
  <mat-divider/>
  <div mat-dialog-content>
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
    <h3>
      Released Training Definitions
    </h3>
    <sentinel-list noDataMessage="No released training definitions"
               mode="radio"
               titleMaxLength="75"
               [identity]="trainingDefinitionIdentity"
               [maxHeight]="LIST_HEIGHT"
               [resource]="released$ | async"
               [hasError]="releasedHasError$ | async"
               [selected]="selected"
               (pageChange)="fetch($event, true)"
               (selectionChange)="onSelectionChange($event)">
      <ng-container [sentinelListElement]="projectedElementTemplate"></ng-container>
    </sentinel-list>
    <mat-divider class="list-spacer"/>
    <h3>
      Unreleased Training Definitions
    </h3>
    <sentinel-list noDataMessage="No unreleased training definitions"
               mode="radio"
               titleMaxLength="75"
               [identity]="trainingDefinitionIdentity"
               [maxHeight]="LIST_HEIGHT"
               [resource]="unreleased$ | async"
               [hasError]="unreleasedHasError$ | async"
               [selected]="selected"
               (pageChange)="fetch($event, false)"
               (selectionChange)="onSelectionChange($event)">
      <ng-container [sentinelListElement]="projectedElementTemplate"></ng-container>
    </sentinel-list>
  </div>

  <div mat-dialog-actions>
    <button (click)="cancel()"
            mat-button color="warn">Cancel</button>
    <span class="spacer"></span>
    <button (click)="confirm()"
            [disabled]="!selected"
            mat-button color="primary">Select</button>
  </div>
</div>
