<div class="mat-typography content">
  <h1 mat-dialog-title>Select Training Definition</h1>
  <mat-divider/>
  <div mat-dialog-content>
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
    <sentinel-list resourceName="Released Training Definitions"
               mode="radio"
               titleMaxLength="75"
               [maxHeight]="Number.MAX_SAFE_INTEGER"
               [resource]="released$ | async"
               [hasError]="releasedHasError$ | async"
               [selected]="selected"
               (pageChange)="fetch($event, true)"
               (selectionChange)="onSelectionChange($event)">
    </sentinel-list>
    <mat-divider class="list-spacer"/>
    <sentinel-list resourceName="Unreleased Training Definitions"
               mode="radio"
               titleMaxLength="75"
               [maxHeight]="Number.MAX_SAFE_INTEGER"
               [resource]="unreleased$ | async"
               [hasError]="unreleasedHasError$ | async"
               [selected]="selected"
               (pageChange)="fetch($event, false)"
               (selectionChange)="onSelectionChange($event)">
    </sentinel-list>
  </div>

  <div mat-dialog-actions>
    <button (click)="cancel()"
            mat-button color="warn">Cancel</button>
    <span class="spacer"></span>
    <button (click)="confirm()"
            [disabled]="!selected"
            mat-button color="primary">Select</button>
  </div>
</div>
