<div class="header">
  <!-- LEVEL STEPPER -->
  <div class="training-run-stepper" *ngIf="isStepperDisplayed && stepper?.items">
    <sentinel-stepper
      [draggable]="false"
      [selectable]="backwardMode"
      (indexSelected)="activeStepChanged($event)"
      [stepperItems]="stepper"
      [activeIndex]="stepper.activeLevelIndex"
    >
    </sentinel-stepper>
  </div>
  <div class="right-panel">
    <sentinel-user-card [user]="user$ | async"></sentinel-user-card>
    <kypo-training-timer *ngIf="isTimerDisplayed && startTime" [startTime]="startTime"></kypo-training-timer>
  </div>
</div>

<ng-container *ngIf="activeLevel$ | async as activeLevel">
  <!-- CONTENT OF ACTIVE LEVEL -->
  <kypo-abstract-level
    [hidden]="(backtrackedLevel$ | async) && activeLevel.id !== stepper.items[stepper.activeLevelIndex].id"
    [level]="activeLevel"
    [isLast]="isLast"
    [isLevelAnswered]="isCurrentLevelAnswered$ | async"
    [sandboxInstanceId]="sandboxInstanceId"
    [sandboxDefinitionId]="sandboxDefinitionId"
    [localEnvironment]="localEnvironment"
    [isBacktracked]="false"
    (next)="next()"
  />
  <kypo-abstract-level
    *ngIf="(backtrackedLevel$ | async) && activeLevel.id !== stepper.items[stepper.activeLevelIndex].id"
    [level]="backtrackedLevel$ | async"
    [isLast]="isLast"
    [sandboxInstanceId]="sandboxInstanceId"
    [sandboxDefinitionId]="sandboxDefinitionId"
    [localEnvironment]="localEnvironment"
    [isBacktracked]="true"
    (next)="this.activeStepChanged(this.stepper.activeLevelIndex + 1)"
  />
</ng-container>
