<div>
  <h1>Detection event detail</h1>
  <ng-container *ngIf="detectionEvent$ | async as detectionEvent">
  <mat-card>
    <p><b>Detection run at: </b> {{ detectionEvent.detectedAt }}</p>
    <p><b>Level title: </b> {{ detectionEvent.levelTitle }}</p>
    <p><b>Level id: </b> {{ detectionEvent.levelId }}</p>
    <p><b>Number of participants: </b> {{ detectionEvent.participantCount }}</p>
  </mat-card>

    <div class="answer-similarity" *ngIf="ifAnswerSimilarity()">

      <p>Answer Similarity</p>>
      <p><b>Answer: </b> {{ answerSimilarity.answer}}</p>
      <p><b>Answer owner: </b> {{ answerSimilarity.answerOwner}}</p>

      <sentinel-table
        [defaultSortDirection]="INIT_SORT_DIR"
        [defaultSortName]="INIT_SORT_NAME"
        [data]="participants$ | async"
        [hasError]="hasError$ | async"
        [isLoading]="isLoading$ | async"
        [displayedActionsCount]="4"
        (rowAction)="onTableAction($event)"
      >
      </sentinel-table>

    </div>>
    <div class="location-similarity" *ngIf="ifLocationProximity()">

      <p>Location Similarity</p>>
      <p><b>IP address: </b> {{ locationSimilarity.ipAddress}}</p>
      <p><b>Domain name service: </b> {{ locationSimilarity.dns}}</p>
      <p><b>Is Address of deployment: </b> {{ locationSimilarity.isAddressDeploy}}</p>

      <sentinel-table
        [defaultSortDirection]="INIT_SORT_DIR"
        [defaultSortName]="INIT_SORT_NAME"
        [data]="participants$ | async"
        [hasError]="hasError$ | async"
        [isLoading]="isLoading$ | async"
        [displayedActionsCount]="4"
        (rowAction)="onTableAction($event)"
      >
      </sentinel-table>

    </div>>
    <div class="time-proximity" *ngIf="ifTimeProximity()">

      <p>Time Proximity</p>>
      <p><b>Proximity threshold: </b> {{ timeProximity.threshold}}</p>

      <sentinel-table
        [defaultSortDirection]="INIT_SORT_DIR"
        [defaultSortName]="INIT_SORT_NAME"
        [data]="participants$ | async"
        [hasError]="hasError$ | async"
        [isLoading]="isLoading$ | async"
        [displayedActionsCount]="4"
        (rowAction)="onTableAction($event)"
      >
      </sentinel-table>

    </div>>
    <div class="minimal-solve-time" *ngIf="ifMinimalSolveTime()">

      <p>Minimal Solve Time</p>>
      <p><b>Minimal solve time: </b> {{ minimalSolve.minimalSolveTime}}</p>

      <sentinel-table
        [defaultSortDirection]="INIT_SORT_DIR"
        [defaultSortName]="INIT_SORT_NAME"
        [data]="participants$ | async"
        [hasError]="hasError$ | async"
        [isLoading]="isLoading$ | async"
        [displayedActionsCount]="4"
        (rowAction)="onTableAction($event)"
      >
      </sentinel-table>

    </div>>
    <div class="no-commands" *ngIf="ifNoCommands()">

      <p>No Commands</p>>

      <sentinel-table
        [defaultSortDirection]="INIT_SORT_DIR"
        [defaultSortName]="INIT_SORT_NAME"
        [data]="participants$ | async"
        [hasError]="hasError$ | async"
        [isLoading]="isLoading$ | async"
        [displayedActionsCount]="4"
        (rowAction)="onTableAction($event)"
      >
      </sentinel-table>

    </div>>

  </ng-container>>
</div>
