<mat-expansion-panel class="mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>
        <mat-icon class="level-type" [inline]="true" matTooltip="Assessment Level"> assignment </mat-icon>
        <span> {{ level.order + 1 }}.</span>
        <span> {{ level.title }}</span>
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="data-field">
    <div class="key-field">EstimatedDuration:</div>
    <div>{{ level.estimatedDuration }}</div>
  </div>
  <div class="data-field">
    <div class="key-field">Type:</div>
    <div>{{ level.assessmentType }}</div>
  </div>
  <div class="data-field">
    <div class="key-field">Questions count:</div>
    <div>{{ level.questions.length }}</div>
  </div>
  <div class="data-field">
    <div class="key-field">Instructions:</div>
    <div>{{ level.instructions }}</div>
  </div>
  <div *ngIf="isTest()" class="data-field">
    <div class="key-field">Max Score:</div>
    <div>{{ level.maxScore }}</div>
  </div>
  <div class="data-field">
    <div class="key-field">Questions:</div>
    <div class="questions-container">
      <div *ngFor="let question of level.questions">
        <kypo-question-detail [question]="question" [isTest]="isTest()"></kypo-question-detail>
      </div>
    </div>
  </div>
</mat-expansion-panel>
