<div *ngIf="trainingInstance$ | async as trainingInstance">
  <mat-card>
    <kypo-training-instance-info
      [accessTokenLink]="trainingInstanceAccessTokenLink"
      [poolIdLink]="trainingInstancePoolIdLink"
      [trainingDefinitionLink]="trainingDefinitionLink"
      [trainingInstance]="trainingInstance"
      [hasStarted$]="hasStarted$"
      (showProgress)="onShowProgress()"
      (showResults)="onShowResults()"
      (showNotification)="onShowNotification($event)"
    >
    </kypo-training-instance-info>
  </mat-card>
  <mat-card>
    <kypo-training-instance-runs
      [trainingRuns]="trainingRuns$ | async"
      [hasError]="trainingRunsHasError$ | async"
      (tableAction)="onTrainingRunTableAction($event)"
      (loadTableEvent)="onTrainingRunTableLoadEvent($event)"
    >
    </kypo-training-instance-runs>
  </mat-card>
</div>
