<div class="container">
  <div class="level-content">
<!-- LEVEL TEXT CONTENT -->
    <div class="left-panel round-scrollbar window-height-bound">
      <sentinel-markdown-view [markdown]="phase.currentTask.content"/>
      @if (displayedSolutionContent$ | async){
        <h2><span class="solution-color"> Solution: </span></h2>
        <sentinel-markdown-view [markdown]="displayedSolutionContent$ | async"/>
      }
    </div>
<!-- TOPOLOGY COMPONENT -->
    <div class="right-panel">
      @if (this.sandboxInstanceId || this.sandboxDefinitionId) {
        <div #topology class="topology-container window-height-bound">
          <kypo-topology-graph
            class="topology"
            [width]="topologyWidth"
            [height]="topologyHeight"
            [sandboxUuid]="sandboxInstanceId"
            [sandboxDefinitionId]="sandboxDefinitionId"
          />
        </div>
        @if (this.sandboxInstanceId){
          <button
            mat-raised-button
            [disabled]="(isLoading$ | async)"
            (click)="download()"
            matTooltip="Download config for SSH client"
            class="ssh-button">
            Get SSH Config
          </button>
        }
      } @else {
        <div class="topology-placeholder">
          <h3 class="placeholder-message">*Topology not available</h3>
          <img
            src="assets/kypo-training-agenda/topology-placeholder.png"
            alt="Topology placeholder"
            class="topology-placeholder__image"
          />
        </div>
      }
    </div>
  </div>
<!-- BOTTOM CONTROLS -->
  @if (!(isLoading$ | async)){
    @if ((isCorrectAnswerSubmitted$ | async) || isBacktracked) {
      <button
        class="next-button"
        mat-raised-button
        (click)="onNext()">
        {{ isLast && !isBacktracked ?  "Finish" : "Next" }}
      </button>
    } @else {
      <kypo-floating-answer-form
        (onSubmit)="onAnswerSubmitted($event)"
        [buttonLabel]="isLast ? 'Finish' : 'Submit'"
      >
        <kypo-answer-form-hints
          [hintsButtons$]="of([])"
          [isSolutionRevealed$]="isSolutionRevealed$"
          [isLoading$]="isLoading$"
          (onSolutionRevealed)="revealSolution()"
        />
      </kypo-floating-answer-form>
    }
  }
</div>
