<div *ngIf="(trainingDefinition$ | async) as trainingDefinition">
    <mat-card appearance="outlined" class="overview-container">
        <mat-card-content>
            <crczp-training-definition-info [trainingDefinition]="trainingDefinition"></crczp-training-definition-info>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
        <mat-card-content class="levels-container">
            <crczp-training-definition-levels [levels]="trainingDefinition.levels"></crczp-training-definition-levels>
        </mat-card-content>
    </mat-card>
</div>
