<div class="content">
  <sentinel-controls [controls]="controls" (itemClicked)="onControlAction($event)"></sentinel-controls>
  <sentinel-table
    [defaultSortName]="INITIAL_SORT_NAME"
    [defaultSortDirection]="INITIAL_SORT_DIR"
    [data]="instances$ | async"
    [hasError]="hasError$ | async"
    [titlecasedActions]="false"
    (rowAction)="onInstanceAction($event)"
    (tableLoad)="onInstancesLoadEvent($event)"
  >
    <ng-container *sentinelRow="'accessToken'; template: accessToken"></ng-container>
    <ng-container *sentinelRow="'poolSize'; template: poolSize"></ng-container>
  </sentinel-table>
</div>

<ng-template #accessToken let-row>
  <button
    mat-button
    color="primary"
    class="token-button"
    matTooltip="Click to copy access token"
    [cdkCopyToClipboard]="row.element.accessToken"
    (click)="onCopyToken()"
  >
    {{ row.element.accessToken }}
  </button>
</ng-template>

<ng-template #poolSize let-row>
  <div *ngIf="row.element.poolSize | async as poolSize; else loading">
    <span>{{ poolSize[0] }}</span>
    <span *ngIf="poolSize[1]"
      > (<span [ngClass]="{ 'warn': poolSize[1] === 0 }">{{ poolSize[1] }}  free</span>)</span
    >
  </div>
  <ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate" [diameter]="20"> </mat-progress-spinner>
  </ng-template>
</ng-template>
