.token-button {
    padding: 0;
}

.warn {
    color: #F44336;
}

.access-token-container {
  display: flex;
  align-items: flex-end;
}

.access-token-container mat-icon {
  margin-left: 5px;
}

.access-token-container mat-icon.warning {
  color: orange;
}
