<div class="content">
  <form [formGroup]="trainingLevelConfigFormGroup.formGroup">
    <div class="panel-wrapper">
      <div class="left-panel">
        <!-- TITLE filed -->
        <mat-form-field
          appearance="outline"
          (keydown.enter)="$event.preventDefault()"
        >
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Title"
            formControlName="title"
            required
          />
          <button
            mat-button
            *ngIf="title.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="title.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="title.hasError('whitespace')"
            >Title cannot be empty</mat-error
          >
        </mat-form-field>

        <!-- ESTIMATED DURATION field -->
        <mat-form-field
          appearance="outline"
          hintLabel="Number in minutes. Range
          from 1 to 60"
        >
          <mat-label>Estimated Duration in minutes</mat-label>
          <input
            matInput
            placeholder="Estimated Duration in Minutes"
            type="number"
            max="60"
            min="1"
            formControlName="estimatedDuration"
          />
          <mat-error
            >Estimated duration must be a number in range from 1 to
            60</mat-error
          >
        </mat-form-field>

        <!--CONTENT field -->
        <h3>Content</h3>
        <sentinel-markdown-editor
          class="mrkdwn-content"
          [sentinel-markdown-file-upload]="false"
          (contentChange)="content.setValue($event)"
          [content]="content.value"
        ></sentinel-markdown-editor>
        <mat-error *ngIf="content.hasError('whitespace')"
          >Content cannot be empty</mat-error
        >
        <!--SOLUTION field -->
        <h3>Solution</h3>
        <sentinel-markdown-editor
          class="mrkdwn-solution"
          [sentinel-markdown-file-upload]="false"
          (contentChange)="solution.setValue($event)"
          [content]="solution.value"
        ></sentinel-markdown-editor>
        <mat-error *ngIf="solution.hasError('whitespace')"
          >Solution cannot be empty</mat-error
        >
      </div>

      <div class="right-panel">
        <!-- MAX SCORE filed -->
        <mat-form-field
          appearance="outline"
          hintLabel="Number in range from 0
          to 100"
        >
          <mat-label>Points for the level</mat-label>
          <input
            matInput
            placeholder="Points for the level"
            type="number"
            max="100"
            min="0"
            formControlName="maxScore"
            required
          />
          <mat-error
            >Maximal score must be a number in range from 0 to 100</mat-error
          >
        </mat-form-field>

        <!-- INCORRECT ANSWER LIMIT field -->
        <mat-form-field
          appearance="outline"
          hintLabel="1 to 100. If the limit
          will be overreached, solution will be displayed automatically."
        >
          <mat-label>Incorrect Answer Limit</mat-label>
          <input
            matInput
            placeholder="Incorrect Answer Limit"
            type="number"
            min="1"
            max="100"
            formControlName="incorrectAnswerLimit"
            required
          />
          <mat-error
            >Incorrect answer limit must be in range of 1 to 100</mat-error
          >
        </mat-form-field>

        <!-- ANSWER field -->
        <mat-form-field
          appearance="outline"
          hintLabel="Max 50 characters"
          (keydown.enter)="$event.preventDefault()"
        >
          <mat-label>Correct Answer</mat-label>
          <input
            matInput
            placeholder="Correct Answer"
            maxlength="50"
            formControlName="answer"
            required
          />
          <button
            mat-button
            *ngIf="answer"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="answer.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint align="end">{{ answer.value?.length || 0 }}/50</mat-hint>
          <mat-error
            >Correct Answer cannot be empty or larger than 50 characters</mat-error
          >
        </mat-form-field>

        <!-- SOLUTION PENALIZED field -->
        <mat-checkbox
          formControlName="solutionPenalized"
          matTooltip="Penalty
          for displaying the solution"
          >Solution Penalized (trainee will get 0 points for the
          level)</mat-checkbox
        >
      </div>
    </div>

    <!--HINTS component -->
    <kypo-hints-overview
      (hintsChange)="hintsChanged($event)"
      [hints]="level.hints"
      [levelMaxScore]="level.maxScore"
      [levelId]="level.id"
    >
    </kypo-hints-overview>
  </form>
</div>
