<crczp-training-instance-overview
    [table]="table$"
    [controlsSupplier]="buildControls"
    [sentinelRowTemplates]="[{name: 'lobbyWaiting', template: lobbyWaiting}]"
/>

<ng-template #lobbyWaiting let-row>
    @let waiting = getPlayersWaiting$(row.element.id) | async;
        @if (waiting > 0) {
            <mat-icon
                color="warn"
                class="m-1rem-l"
                [matTooltip]="(waiting > 1 ? 'There are ' + waiting + ' players waiting' : 'There is a player'  +
            'waiting')">
                warning
            </mat-icon>
        } @else {
            <mat-icon
                color="primary"
                class="m-1rem-l"
                [matTooltip]="'The queue is empty'">
                check
            </mat-icon>
        }
</ng-template>
