<div *ngIf="trainingInstance$ | async as trainingInstance">
  <mat-card>
    <kypo-training-instance-info
      [accessTokenLink]="trainingInstanceAccessTokenLink"
      [poolIdLink]="trainingInstancePoolIdLink"
      [adaptiveDefinitionLink]="adaptiveDefinitionLink"
      [trainingInstance]="trainingInstance"
      [hasStarted$]="hasStarted$"
      (showProgress)="onShowProgress()"
      (showNotification)="onShowNotification($event)"
    >
    </kypo-training-instance-info>
  </mat-card>

  <mat-card>
    <kypo-adaptive-instance-runs
      [trainingRuns]="adaptiveRuns$ | async"
      [hasError]="adaptiveRunsHasError$ | async"
      (tableAction)="onTrainingRunTableAction($event)"
      (loadTableEvent)="onTrainingRunTableLoadEvent($event)"
    >
    </kypo-adaptive-instance-runs>
  </mat-card>
</div>
