@import "../../next-level-button/next-level-button.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.level-content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 0 2rem 0 2rem;
  height: fit-content;
}

.window-height-bound {
  max-height: calc(100vh - 38rem);
}


/* Text */

.left-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: 0 1rem 2rem 6rem;
  margin-top: -1rem;
  overflow-y: auto;
  margin-bottom: 3rem;
  scroll-behavior: smooth;
}


/* Topology */

.right-panel {
  width: 40%;
  height: fit-content;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}

.topology-container {
  width: 100%;
  min-height: 275px;
  padding-bottom: -2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topology {
  border-radius: 0.5rem;
}

kypo-topology-graph {
  border: 1px solid gainsboro;
}

.topology-placeholder {
  border: 1px solid gainsboro;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.topology-placeholder__image {
  width: 100%;
  height: 100%;
}

.placeholder-message {
  color: #999999;
  padding-left: 5px;
  margin-bottom: -2rem !important;
  z-index: 1;
}

.ssh-button {
  position: absolute;
  bottom: -0.5rem;
  right: 1rem;
  z-index: 1;
}

/* Breakpoint for wrapping avatar */
@media screen and (max-width: 1400px) {
  .level-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 10rem;
    height: auto;
  }

  .right-panel {
    width: 100%;
  }

  .left-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    overflow-y: hidden;
    padding: 0;
  }

  .window-height-bound {
    max-height: unset;
  }
}


/* Breakpoint based on sentinel layout (when navbar is hidden) */
@media(max-width: 748px ) {

  .level-content {
    padding: 0;
    margin: 0 0 10rem 0;
    width: 100%;
  }

  .left-panel {
    width: 100%;
    padding: 0;
  }

  .right-panel {
    width: 100%;
  }
}
