<div class="container">
  <div #levelContent class="level-content">
<!-- LEVEL TEXT CONTENT -->
    <div #leftPanel
      class="left-panel round-scrollbar window-height-bound"
    >
      <sentinel-markdown-view [markdown]="level?.content"/>
      @if (displayedHintsContent$ | async) {
        <sentinel-markdown-view [markdown]="displayedHintsContent$ | async"/>
      }
      @if (displayedSolutionContent$ | async){
        <h2><span class="solution-color"> Solution: </span></h2>
        <sentinel-markdown-view [markdown]="displayedSolutionContent$ | async"/>
      }
    </div>
    <mat-divider
      vertical
      class="vertical-drag-handle"
      (mousedown)="mouseDown($event)"
    />
<!-- TOPOLOGY COMPONENT -->
    <div
      #rightPanel
      class="right-panel"
    >
      @if (this.sandboxInstanceId || this.sandboxDefinitionId) {
        <div class="topology-container window-height-bound">
          <kypo-topology-graph
            class="topology"
            [width]="topologyWidth | async"
            [height]="topologyHeight | async"
            [sandboxUuid]="sandboxInstanceId"
            [sandboxDefinitionId]="sandboxDefinitionId"
          />
        </div>
            <button
              mat-raised-button
              [disabled]="(isLoading$ | async)"
              (click)="download()"
              matTooltip="Download config for SSH client"
              class="ssh-button">
              Get SSH Config
            </button>
      } @else {
        <div class="topology-placeholder">
          <h3 class="placeholder-message">*Topology not available</h3>
          <img
              draggable="false"
              src="assets/kypo-training-agenda/topology-placeholder.png"
              alt="Topology placeholder"
              class="topology-placeholder__image"
            />
        </div>
      }
    </div>
  </div>
<!-- BOTTOM CONTROLS -->
  @if ((isLoading$ | async) === false){
    @if ((isCorrectAnswerSubmitted$ | async) || isBacktracked) {
        <button
          class="next-button"
          mat-raised-button
          (click)="onNext()">
          {{ isLast && !isBacktracked ?  "Finish" : "Next" }}
        </button>
    } @else {
        <kypo-floating-answer-form
          (answerSubmit)="onAnswerSubmitted($event)"
          [buttonLabel]="isLast ? 'Finish' : 'Submit'"
        >
          <kypo-answer-form-hints
            [hintsButtons$]="hintsButtons$"
            [isSolutionRevealed$]="isSolutionRevealed$"
            [isLoading$]="isLoading$"
            (hintRevealed)="revealHint($event)"
            (solutionRevealed)="revealSolution()"
            />
        </kypo-floating-answer-form>
    }
  }
</div>
