<crczp-grid-list
  (mouseup)="onConfirm()"
  (mouseleave)="onConfirm();"
  [items]="selectionList.getAllItems()"
  [template]="selectionElement"
  [trackBy]="idFunction"
  [gridTemplate]="gridTemplate"
  [gridGap]="gridGap"
/>

<ng-template #selectionElement let-item>
  <span
    class="click-wrapper"
    (click)="selectionList.setSelected(item, !selectionList.isSelected(item));this.emitSelectionChange();"
    (mousedown)="onItemMouseDown(item)"
    (mouseenter)="onItemMouseEnter(item)"
  >
     <ng-container
       [ngTemplateOutlet]="template"
       [ngTemplateOutletContext]="{$implicit: item}"
     />
  </span>

</ng-template>
