<crczp-grid-list
  (mouseup)="selectionList.confirmMultipleSelection();this.emitSelectionChange();this.emitDragSelectionChange();"
  (mouseleave)="selectionList.cancelMultipleSelection();this.emitSelectionChange();this.emitDragSelectionChange();"
  [items]="selectionList.getAllItems()"
  [template]="selectionElement"
  [trackBy]="idFunction"
  [gridTemplate]="gridTemplate"
  [gridGap]="gridGap"
/>

<ng-template #selectionElement let-item>
  <span
    class="click-wrapper"
    (click)="selectionList.setSelected(item, !selectionList.isSelected(item));this.emitSelectionChange();"
    (mousedown)="selectionList.intervalSelectionSetStart(item);this.emitDragSelectionChange();"
    (mouseenter)="selectionList.intervalSelectionSetEnd(item);this.emitDragSelectionChange();"
  >
     <ng-container
       [ngTemplateOutlet]="template"
       [ngTemplateOutletContext]="{$implicit: item}"
     />
  </span>

</ng-template>
