<div class="container">
    <div class="level-content">
        <sentinel-markdown-view [markdown]="level.instructions"/>
        <!-- QUESTIONS -->
        <div class="questions">
            <div *ngFor="let question of level.questions; index as i" class="question">
                <mat-divider/>
                <crczp-trainee-question [question]="question" [index]="i + 1" (contentChanged)="onContentChanged()"
                                       [isBacktracked]="isBacktracked">
                </crczp-trainee-question>
            </div>
        </div>
    </div>
    <!-- Differentiate submit action by different button style -->
    @if (isBacktracked) {
        <button
            class="next-button"
            mat-raised-button
            (click)="onNext()">
            Next
        </button>
    } @else {
        <button
            class="next-button"
            mat-flat-button
            (click)="submit()"
            [disabled]="!canSubmit">
            {{ isLast ? "Finish" : "Submit" }}
        </button>
    }
</div>
