@import "../../next-level-button/next-level-button.css";

markdown ::ng-deep pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

markdown ::ng-deep img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.next-button {
  height: 3rem;
  width: 8rem;
  position: relative;
  bottom: unset;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.level-content {
  margin-top: 10px;
  width: 60%;
  margin-bottom: 6rem;
}

.questions {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.question {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

mat-divider {
  margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
  .level-content {
    width: 90%;
  }
}

