<div class="container">
  <div #content class="content">
    <sentinel-markdown-view [markdown]="level.instructions"></sentinel-markdown-view>
    <!-- QUESTIONS -->
    <div class="questions">
      <div *ngFor="let question of level.questions; index as i" class="question">
        <mat-divider></mat-divider>
        <kypo-trainee-question [question]="question" [index]="i + 1" (contentChanged)="onContentChanged()" [isBacktracked]="isBacktracked">
        </kypo-trainee-question>
      </div>
    </div>
  </div>
  <div *ngIf="!isBacktracked">
    <mat-card #controls class="controls">
      <div class="controls-container">
        <button *ngIf="!isLevelAnswered" mat-raised-button color="primary" (click)="submit()" [disabled]="!canSubmit">
          Submit
        </button>
        <kypo-next-level-button *ngIf="isLevelAnswered" [isLast]="isLast" (next)="onNext()"> </kypo-next-level-button>
      </div>
    </mat-card>
  </div>
</div>
