<ng-container [ngSwitch]="level.type">
    <crczp-training-level-detail *ngSwitchCase="levelTypes.Training" [level]="level"></crczp-training-level-detail>
    <crczp-info-level-detail *ngSwitchCase="levelTypes.Info" [level]="level"></crczp-info-level-detail>
    <crczp-access-level-detail *ngSwitchCase="levelTypes.Access" [level]="level"></crczp-access-level-detail>
    <crczp-assessment-level-detail *ngSwitchCase="levelTypes.Assessment" [level]="level"></crczp-assessment-level-detail>
</ng-container>
