<div *ngIf="trainingDefinition.id else trainingDefinitionNotCreated">
  <sentinel-controls [controls]="controls"
                     (itemClicked)="onControlAction($event)">
  </sentinel-controls>
  <mat-divider></mat-divider>
  <div *ngIf="(stepperPhases | async).length > 0 else noPhases">
    <kypo-phase-stepper [activeStep]="activeStep$ | async"
                        [phases]="stepperPhases | async"
                        [movingInProgress]="phaseMovingInProgress"
                        (phaseMove)="onPhaseMoved($event)"
                        (activeStepChange)="onActivePhaseChange($event)">
    </kypo-phase-stepper>
    <mat-divider></mat-divider>
    <kypo-phase-edit [phase]="(stepperPhases | async)[activeStep$ | async].phase"
                     [updateMatrix$]="updateMatrix$"
                     [phaseRelations]="phaseRelations"
                     [questions]="questions"
                     [presentTrainingPhases$]="presentTrainingPhases$"
                     (phaseChange)="onActivePhaseChanged($event)">
    </kypo-phase-edit>
  </div>

  <ng-template #noPhases>
    <h3>Start by clicking on Add button</h3>
  </ng-template>
</div>
<ng-template #trainingDefinitionNotCreated>
  <h3>To add phases, fill in and save the basic information about the training definition.</h3>
</ng-template>


