<h1>{{ level?.title }}</h1>
<ng-container [ngSwitch]="level?.type">
  <kypo-assessment-level *ngSwitchCase="levelTypes.Assessment"
                         [level]="level"
                         [isLevelAnswered]="isLevelAnswered"
                         [isBacktracked]="isBacktracked"
                         [isLast]=isLast
                         (next)="onNext()">
  </kypo-assessment-level>
  <kypo-training-level *ngSwitchCase="levelTypes.Training"
                   [level]="level"
                   [isLast]=isLast
                   [isLevelAnswered]="isLevelAnswered"
                   [isBacktracked]="isBacktracked"
                   [sandboxInstanceId]="sandboxInstanceId"
                   [sandboxDefinitionId]="sandboxDefinitionId"
                   (next)="onNext()">
  </kypo-training-level>
  <kypo-info-level *ngSwitchCase="levelTypes.Info"
                   [level]="level"
                   [isBacktracked]="isBacktracked"
                   [isLast]="isLast"
                   (next)="onNext()">
  </kypo-info-level>
  <kypo-access-level *ngSwitchCase="levelTypes.Access"
                   [level]="level"
                   [isBacktracked]="isBacktracked"
                   [sandboxInstanceId]="sandboxInstanceId"
                   [sandboxDefinitionId]="sandboxDefinitionId"
                   [localEnvironment]="localEnvironment"
                   [isLast]="isLast"
                   [isLevelAnswered]="isLevelAnswered"
                   (next)="onNext()">
  </kypo-access-level>
</ng-container>


