<h4>
    <span>{{ question.order + 1 }}. </span>
    <mat-icon class="question-type" [inline]=true matTooltip="Miltiple Choice Question"> check_circle_outline</mat-icon>
    <span> {{ question.text }}</span>
</h4>
<div class="data-field">
    <div class="key-field">Choices:</div>
    <div class="choices">
        <div *ngFor="let choice of question.choices">
            <div>{{ choice.text }}</div>
            <div class="correct-choice" *ngIf="questionnaireType === QuestionnaireTypeEnum.Adaptive">
                <mat-icon [inline]="true" *ngIf="choice.correct">done</mat-icon>
                <mat-icon [inline]="true" *ngIf="!choice.correct">close</mat-icon>
            </div>
        </div>
    </div>
</div>
