  <div class="header">
    <!-- PHASE STEPPER -->
    <div [ngClass]="isPreview ? 'training-run-preview-stepper' : 'training-run-stepper'"
         *ngIf="(isStepperDisplayed || isPreview) && stepper?.items" class="training-run-stepper">
      <h3 *ngIf="isPreview && !isStepperDisplayed" class="message">
        *Stepper is shown only in preview mode to allow navigation between phases. It won't be displayed in training run as requested.
      </h3>
      <h3 *ngIf="isPreview && isStepperDisplayed" class="message">
        *Use stepper to navigate between phases.
      </h3>
      <sentinel-stepper [dragDisabled]="true"
                        [selectable]="isPreview"
                        (indexSelected)="activeStepChanged($event)"
                        [stepperItems]="stepper"
                        [activeIndex]="stepper.activePhaseIndex">
      </sentinel-stepper>
    </div>
    <div class="right-panel">
      <sentinel-user-card [user]="user$ | async"></sentinel-user-card>
      <kypo-training-timer *ngIf="isTimerDisplayed && startTime" [startTime]="startTime"></kypo-training-timer>
    </div>
  </div>
  <!-- CONTENT OF ACTIVE PHASE -->
  <kypo-abstract-phase [phase]="activePhase$ | async"
                       [isLast]="isLast"
                       [isLoading]="isLoading"
                       [sandboxInstanceId]="sandboxInstanceId"
                       [sandboxDefinitionId]="sandboxDefinitionId"
                       [localEnvironment]="localEnvironment"
                       [isPreview]="isPreview"
                       (next)="next()">
  </kypo-abstract-phase>


