<div class="header">
  <!-- PHASE STEPPER -->
  <div class="training-run-stepper" *ngIf="isStepperDisplayed && stepper?.items" class="training-run-stepper">
    <sentinel-stepper
      [draggable]="false"
      [selectable]="backwardMode"
      (indexSelected)="activeStepChanged($event)"
      [stepperItems]="stepper"
      [activeIndex]="stepper.activePhaseIndex"
    >
    </sentinel-stepper>
  </div>
  <div class="right-panel">
    <sentinel-user-card [user]="user$ | async"></sentinel-user-card>
    <kypo-training-timer *ngIf="isTimerDisplayed && startTime" [startTime]="startTime"></kypo-training-timer>
  </div>
</div>
<ng-container *ngIf="activePhase$ | async as activePhase">
  <!-- CONTENT OF ACTIVE PHASE -->
  <kypo-abstract-phase
    [hidden]="(backtrackedPhase$ | async) && activePhase.id !== stepper.items[stepper.activePhaseIndex].id"
    [phase]="activePhase"
    [isLast]="isLast"
    [isLoading]="isLoading"
    [sandboxInstanceId]="sandboxInstanceId"
    [sandboxDefinitionId]="sandboxDefinitionId"
    [localEnvironment]="localEnvironment"
    [isBacktracked]="false"
    (next)="next()"
  >
  </kypo-abstract-phase>
  <kypo-abstract-phase
    *ngIf="(backtrackedPhase$ | async) && activePhase.id !== stepper.items[stepper.activePhaseIndex].id"
    [phase]="(backtrackedPhase$ | async)"
    [isLast]="isLast"
    [isLoading]="isLoading"
    [sandboxInstanceId]="sandboxInstanceId"
    [sandboxDefinitionId]="sandboxDefinitionId"
    [localEnvironment]="localEnvironment"
    [isBacktracked]="true"
  >
  </kypo-abstract-phase>
</ng-container>
