<div class="header">
  <!-- PHASE STEPPER -->
  <div class="training-run-stepper round-scrollbar"  *ngIf="isStepperDisplayed && stepper?.items">
    <sentinel-stepper
      [draggable]="false"
      [selectable]="backwardMode"
      (indexSelected)="activeStepChanged($event)"
      [stepperItems]="stepper"
      [activeIndex]="stepper.activePhaseIndex"
    >
    </sentinel-stepper>
  </div>
  <div class="right-panel {{!(isStepperDisplayed && stepper?.items) ? 'right-panel--row-layout' : ''}}">
    <sentinel-user-card [user]="user$ | async"/>
    <kypo-training-timer *ngIf="isTimerDisplayed && startTime" [startTime]="startTime"/>
  </div>
</div>

<ng-container *ngIf="activePhase$ | async as activePhase">
  <!-- CONTENT OF ACTIVE PHASE -->
  <kypo-abstract-phase
    [hidden]="(backtrackedPhase$ | async) && activePhase.id !== stepper.items[stepper.activePhaseIndex].id"
    [phase]="activePhase"
    [isLast]="isLast"
    [isPhaseAnswered]="isCurrentPhaseAnswered$ | async"
    [isLoading]="isLoading"
    [sandboxInstanceId]="sandboxInstanceId"
    [sandboxDefinitionId]="sandboxDefinitionId"
    [localEnvironment]="localEnvironment"
    [isBacktracked]="false"
    (next)="next()"
  >
  </kypo-abstract-phase>
  <kypo-abstract-phase
    *ngIf="(backtrackedPhase$ | async) && activePhase.id !== stepper.items[stepper.activePhaseIndex].id"
    [phase]="(backtrackedPhase$ | async)"
    [isLast]="isLast"
    [isLoading]="isLoading"
    [sandboxInstanceId]="sandboxInstanceId"
    [sandboxDefinitionId]="sandboxDefinitionId"
    [localEnvironment]="localEnvironment"
    [isBacktracked]="true"
    (next)="this.activeStepChanged(this.stepper.activePhaseIndex + 1)"
  >
  </kypo-abstract-phase>
</ng-container>
