<div class="container">
  <div #content class="content">
    <div class="left-panel">
      <div *ngIf="localEnvironment; else cloudContent">
        <sentinel-markdown-view [markdown]="level?.localContent"></sentinel-markdown-view>
      </div>
    </div>
    <div class="right-panel" #rightPanel>
      <!-- TOPOLOGY COMPONENT-->
      <kypo-topology-graph
        *ngIf="!isTopologyDisplayed; else topologyPlaceholder"
        [width]="topologyWidth"
        [height]="topologyHeight"
        [sandboxUuid]="sandboxInstanceId"
        [sandboxDefinitionId]="sandboxDefinitionId"
        [style.width.px]="topologyWidth"
        [style.height.px]="topologyHeight"
      >
      </kypo-topology-graph>
      <button
        class="ssh-button"
        *ngIf="sandboxInstanceId || sandboxDefinitionId"
        mat-raised-button
        [disabled]="(isLoading$ | async) || (isCorrectPasskeySubmitted$ | async)"
        (click)="download()"
        matTooltip="Download config for SSH client"
      >
        Get SSH Config
      </button>
    </div>
  </div>
  @if ((isCorrectPasskeySubmitted$ | async) || isBacktracked) {
      <!-- avoid showing next, when next level is already loading -->
      @if (!(isLoading$ | async)){
      <button
        class="next-button"
        mat-raised-button
        (click)="onNext()"
      >
        {{ isLast && !isBacktracked ?  "Finish" : "Next" }}
      </button>
    }
  } @else {
    <kypo-answer-floating-form
      placeholder="Passkey"
      [buttonLabel]="isLast ? 'Finish' : 'Submit'"
      (onSubmit)="submitPasskey($event)"
    />
  }
</div>

<ng-template #topologyPlaceholder>
  <div class="container">
    <div class="topology-placeholder" [style.width.px]="topologyWidth" [style.height.px]="topologyHeight">
      <img
        src="assets/kypo-training-agenda/topology-placeholder.png"
        alt="Topology placeholder"
        [width]="topologyWidth"
        [height]="topologyHeight"
      />
    </div>
    <h3 class="message">*This is just a template topology</h3>
  </div>
</ng-template>

<ng-template #cloudContent>
  <div>
    <sentinel-markdown-view [markdown]="level?.cloudContent"></sentinel-markdown-view>
  </div>
</ng-template>
