<div class="container">
  <div class="level-content">
    <div class="left-panel round-scrollbar window-height-bound">
        <sentinel-markdown-view
          [markdown]="localEnvironment ? level?.localContent : level?.cloudContent"/>
    </div>
    <div class="right-panel">
      <!-- TOPOLOGY COMPONENT -->
      @if (this.sandboxInstanceId || this.sandboxDefinitionId) {
        <div #topology class="topology-container window-height-bound">
          <kypo-topology-graph
            class="topology"
            [width]="topologyWidth"
            [height]="topologyHeight"
            [sandboxUuid]="sandboxInstanceId"
            [sandboxDefinitionId]="sandboxDefinitionId"
          />
        </div>
        @if (this.sandboxInstanceId){
          <button
            mat-raised-button
            [disabled]="(isLoading$ | async)"
            (click)="download()"
            matTooltip="Download config for SSH client"
            class="ssh-button">
            Get SSH Config
          </button>
        }
      } @else {
        <div class="topology-placeholder">
          <h3 class="placeholder-message">*Topology not available</h3>
          <img
            src="assets/kypo-training-agenda/topology-placeholder.png"
            alt="Topology placeholder"
            class="topology-placeholder__image"
          />
        </div>
      }
    </div>
  </div>
  @if ((isCorrectPasskeySubmitted$ | async) || isBacktracked) {
      <!-- avoid showing next, when next level is already loading -->
      @if ((isLoading$ | async) === false){
      <button
        class="next-button"
        mat-raised-button
        (click)="onNext()"
      >
        {{ isLast && !isBacktracked ?  "Finish" : "Next" }}
      </button>
    }
  } @else {
    <kypo-floating-answer-form
      placeholder="Passkey"
      [buttonLabel]="isLast ? 'Finish' : 'Submit'"
      (answerSubmit)="onAnswerSubmitted($event)"
    />
  }
</div>
