@import "../next-level-button/next-level-button.css";

markdown ::ng-deep img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

markdown ::ng-deep pre, markdown ::ng-deep code, markdown ::ng-deep p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

markdown ::ng-deep {
  background-color: transparent;
}

/* removes padding and margin from the bottom of the form field to reduce bottom bar height */
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

kypo-topology-graph {
  border: 1px solid gainsboro;
}

.topology-placeholder {
  border: 1px solid gainsboro;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 6rem;
}

.content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 90%;
}

.left-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.right-panel {
  width: 40%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.message {
  color: #999999;
  padding-left: 5px;
}

/* Bottom controls */

.bottom-card {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 90vw;
  position: fixed;
  bottom: 1rem;
  z-index: 1000;
}

.input-form-field {
  min-width: 5rem;
  max-width: 100%;
  width: 40%;
}

.answer-input {
  resize: none;
  overflow: hidden;
  overflow-wrap: normal;
}

.submit-button {
  min-width: 6rem;
}


@media screen and (max-width: 1500px) {
  .content {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .right-panel {
    width: 100%;
  }

  .bottom-card {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .input-form-field {
    width: 70%;
  }

}

/* Breakpoint based on sentinel layout (when navbar is hidden) */
@media(max-width: 748px ) {

  .content {
    width: 100%;
  }

  .bottom-card {
    width: 110%;
    flex-direction: column;
    align-items: stretch;
  }

  .input-form-field {
    width: 100%;
  }
}
