.panel-description-error {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
  color: orange;
}

.spacer {
  flex: 1 1 0;
}

.panel-description-error mat-icon.warning {
  color: orange;
}
