<div #chatWrapper class="vflex chat-wrapper round-scrollbar">
    <crczp-grid-list
        class="wh-100"
        [gridGap]="'0.5rem'"
        [template]="teamMessage"
        [items]="visibleMessages"
        [trackBy]="getMessageId"
    />
</div>
@if(this.showJumpToBottom){
    <button
        mat-mini-fab
        class="jump-to-bottom-button"
        (click)="jumpToBottom()">
        <mat-icon>arrow_downward</mat-icon>
    </button>
}
<div class="hflex chat-controls-wrapper">
    <mat-form-field
        class="w-100 message-input-form"
        appearance="outline"
        subscriptSizing="dynamic"
    >
    <textarea
        #chatInput
        [maxlength]="1024"
        class="message-input"
        matInput
        [formControl]="chatFormControl"
        placeholder="send message..."
        (keydown.enter)="emitSendMessage();$event.preventDefault()"
    ></textarea>
    </mat-form-field>

    <button
        mat-mini-fab
        class="sent-button"
        (click)="emitSendMessage()"
        [disabled]="chatFormControl.invalid || chatFormControl.value.trim().length === 0"
    >
        <mat-icon>send</mat-icon>
    </button>
</div>

<ng-template #teamMessage let-message>
    <div class="message-wrapper {{isCurrentUser(message.userId) ? 'message-wrapper--current-user':''}}">
        <img
            [matTooltip]="isCurrentUser(message.userId) ? '': getUserName(message.userId)"
            matTooltipPosition="before"
            class="sender-avatar"
            alt="sender avatar"
            src="{{ 'data:image/jpg;base64,' +getUserImage(message.userId)}}">
        <div class="message-text-bubble">
      <span class="message">
        {{message.message}}
      </span>
            <span class="time-sent">
        {{message.time | date: 'HH:mm'}}
      </span>
        </div>
        <div class="avatar-spacer"></div>
    </div>
</ng-template>
