<div #chatWrapper
     (scroll)="onScroll($event)"
     class="vflex wh-100 chat-wrapper">
    <crczp-grid-list
        class="wh-100"
        [gridGap]="'0.5rem'"
        [template]="teamMessage"
        [items]="messages"
        [trackBy]="getMessageId"
    />
</div>
<div class="hflex chat-controls-wrapper">
    <mat-form-field
        class="w-100 message-input-form"
        [appearance]="'outline'"
        [formControl]="chatFormControl"
        [subscriptSizing]="'dynamic'"
        >
        <textarea
            #chatInput
            [maxlength]="1024"
            class="message-input"
            matInput
            [formControl]="chatFormControl"
            placeholder="send message..."
        ></textarea>
    </mat-form-field>
    <button mat-mini-fab class="sent-button">
        <mat-icon>send</mat-icon>
    </button>
</div>

<ng-template #teamMessage let-message>
    <div class="message-wrapper {{isCurrentUser(message.userId) ? 'message-wrapper--current-user':''}}">
        <img src="{{ ''+getUserImage(message.userId)}}">
        <div class="message-text-bubble">
      <span class="message">
        {{message.message}}
      </span>
            <span class="time-sent">
        {{message.time | date: 'HH:mm'}}
      </span>
        </div>
    </div>
</ng-template>
