h2 {
  color: #4355b7;
  margin: 0;
}

p.required-note {
  color: #949494;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

mat-checkbox {
  margin: 5px 0;
}

/deep/ .mat-checkbox-layout {
  white-space: normal !important;
}
