<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Related Questions
    </mat-panel-title>
  </mat-expansion-panel-header>
    <div *ngIf="relatedQuestions.length !== 0 else noQuestions">
      <div *ngFor='let question of relatedQuestions' class='question-in-relation'>
        <ng-container [ngSwitch]="question.questionType">
          <mat-icon style="vertical-align: middle" *ngSwitchCase='questionTypes.RFQ'>star_half</mat-icon>
          <mat-icon style="vertical-align: middle" *ngSwitchCase='questionTypes.FFQ'>'edit'</mat-icon>
          <mat-icon style="vertical-align: middle" *ngSwitchCase='questionTypes.MCQ'>'check_circle_outline'</mat-icon>
        </ng-container>
        <span> {{ question.id }}: {{ question.text }}</span>
      </div>
    </div>
    <ng-template #noQuestions>
      <h3>There are no Related Questions</h3>
    </ng-template>
</mat-expansion-panel>
