<div class="content-wrapper">
    <mat-card class="card queue-card" appearance="outlined">
        <div class="card__header">
            @if (queueSelection.selectedQueueUsers().length > 0) {
                <button
                    class="controls-button controls-button--top-left-radius"
                    mat-raised-button
                    matTooltipClass="multi-line-tooltip"
                    matTooltip="Deselect All [shift+A]"
                    (click)="queueSelection.selectedQueueUsers =[]"
                >
                    <mat-icon
                        class="controls-button__icon"
                    >deselect
                    </mat-icon>
                </button>
            } @else {
                <button
                    class="controls-button controls-button--top-left-radius"
                    mat-raised-button
                    [matTooltip]="'Select All [A]'"
                    (click)="queueSelection.selectedQueueUsers = this.waitingPlayers"
                >
                    <mat-icon
                        class="controls-button__icon"
                    >select_all
                    </mat-icon>
                </button>
            }
            <div class="search-wrapper">
                <input
                    class="search-input"
                    matInput
                    placeholder="Find by player name"
                />
                <i class="material-icons search-icon">search</i>
            </div>
            <span
                class="card__header__title"
            >
        {{
                    queueSelection.selectedQueueUsers().length > 0 ?
                        'Selected ' + queueSelection.selectedQueueUsers().length + '/' + waitingPlayers.length :
                        waitingPlayers.length + ' players in queue'
                }}
      </span>
        </div>
        <mat-card-content
            class="card-content round-scrollbar">
            <app-selectable-list
                (selectionChange)="queueSelection.selectedQueueUsers = $event"
                (dragSelectionChange)="queueSelection.intervalSelectedUsers = $event"
                [selectedItems]="queueSelection.selectedQueueUsers()"
                [items]="waitingPlayers"
                [template]="playerViewTemplate"
                [idFunction]="getId"
                [compareFunction]="compareUsers"
                [gridTemplate]="'minmax(2rem, auto) / repeat(auto-fit, minmax(11rem, 1fr))'"
                [gridGap]="'0.5rem'"
            />
        </mat-card-content>
    </mat-card>
    <div class="middle-wrapper">
        <button mat-icon-button>
            <mat-icon>
                info
            </mat-icon>
        </button>
        <div class="movement-controls">
            @if (queueSelection.selectedQueueUsers().length > 0) {
                <button
                    mat-fab
                    color="primary"
                    class="movement-controls__button"
                    [matTooltip]="'Create a new team with selected players'"
                    (click)="createNewTeamFromQueueSelection()"
                >
                    <i class="material-icons">group_add</i>
                </button>
                <button
                    mat-fab
                    color="primary"
                    class="movement-controls__button"
                    [matTooltip]="'Automatically assign selected players to existing teams'"
                    (click)="autoAssign(this.queueSelection.selectedQueueUsers())"
                >
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
            } @else if (this.queueSelection.selectedQueueUsers().length > 0) {
                <button
                    mat-fab
                    class="movement-controls__button"
                    [matTooltip]="'Move selected players to a new team'"
                    (click)="createNewTeamFromTeamsSelection()"
                >
                    <i class="material-icons">group_add</i>
                </button>
                <button
                    mat-fab
                    class="movement-controls__button"
                    [matTooltip]="'Return selected players to queue'"
                    (click)="returnToQueue(this.queueSelection.selectedTeamsUsers())"
                >
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
            }
            <button
                mat-fab
                color="primary"
                class="movement-controls__button"
                [matTooltip]="'Automatically assign all players to teams, creating new teams if necessary'"
                (click)="autoAssignAll()"
            >
                <i class="material-icons">keyboard_double_arrow_right</i>
            </button>
        </div>
    </div>
    <mat-card class="card teams-card" appearance="outlined">
        <div class="card__header">
            <button
                class="controls-button controls-button--top-left-radius"
                mat-raised-button
                [matTooltip]="'Balance teams'"
                (click)="balanceTeams()"
            >
                <mat-icon
                    class="controls-button__icon"
                >shuffle
                </mat-icon>
            </button>
            <button
                class="controls-button"
                mat-raised-button
                [matTooltip]="showLockedTeams ? 'Hide Locked Teams [L]' : 'Show Locked Teams [L]'"
                (click)="showLockedTeams = !showLockedTeams"
            >
                <mat-icon
                    class="controls-button__icon"
                >{{ showLockedTeams ? "visibility_off" : "visibility_on" }}
                </mat-icon>
            </button>
            <div class="search-wrapper">
                <input
                    class="search-input"
                    matInput
                    placeholder="Find by player name"
                />
                <i class="material-icons search-icon">search</i>
            </div>
            <span
                class="card__header__title"
            >
        {{
                    showLockedTeams ?
                        preparedTeams.length + ' unlocked ' + ' / ' + preparedTeams.length + startedTeams.length + ' total teams' :
                        startedTeams.length + ' unlocked teams'
                }}
      </span>
        </div>
        <mat-card-content class="card-content round-scrollbar">
            <button
                mat-fab
                color="primary"
                class="teams-card__add-button"
                [matTooltip]="'Add Team'"
                (click)="createNewTeam()"
            >
                <i class="material-icons">add</i>
            </button>
            <app-grid-list
                [items]="showLockedTeams ? preparedTeams.concat(startedTeams) : preparedTeams"
                [template]="teamOverviewTemplate"
                [trackBy]="getId"
                [gridTemplate]="'auto / 100%'"
                [gridGap]="'0.5rem'"
            />
        </mat-card-content>
    </mat-card>
</div>

<ng-template #playerViewTemplate let-player>
    <crczp-player-view
        class="
      player-view
      {{queueSelection.isInSelectionInterval(player) ? 'player-view--no-hover' : ''}}
      {{queueSelection.isSelected(player) ? 'player-view--selected' : ''}}
      {{queueSelection.isInSelectionInterval(player) ? queueSelection.isIntervalSelectionInverted() ?
      'player-view--inverted-interval-selected' : 'player-view--interval-selected' : ''}}
      "
        [player]="player"
    />
</ng-template>

<ng-template #teamContentTemplate let-team>
    <div class="team-view__team-content">
        @if (team.members.length === 0) {
            <div class="team-card__players--empty"></div>
        } @else {
            <app-selectable-list
                [items]="team.members.sort(compareTeams)"
                [template]="playerViewTemplate"
                [idFunction]="getId"
                [compareFunction]="compareUsers"
                [gridTemplate]="'minmax(2rem, auto) / repeat(auto-fill, minmax(11rem, 1fr))'"
                [gridGap]="'0.5rem'"
                (selectionChange)="this.queueSelection.teamSelectionChange(team, $event)"
                (dragSelectionChange)="queueSelection.intervalSelectedUsers = $event"
            />
        }
    </div>
</ng-template>

<ng-template #teamOverviewTemplate let-team>
    <div class="team-left-panel">
        <div class="team-content__left_controls">
            <button
                class="controls-button controls-button--top-left-radius controls-button--tertiary"
                mat-raised-button
                [matTooltip]="'Disband team'"
                (click)="disbandTeam(team)"
            >
                <i class="material-icons tertiary-icon">delete</i>
            </button>
            <button
                class="controls-button controls-button--tertiary"
                mat-raised-button
                (click)="queueSelection.selectedQueueUsers().length > 0 ?
            assignQueueSelectionToTeam(team) :
            assignTeamsSelectionToTeam(team)"
                [disabled]="queueSelection.getSelectedUsers().length === 0"
                [matTooltip]="'Assign selected players to this team'"
            >
                <i class="material-icons">add</i>
            </button>
        </div>
        <app-team-overview-component
            class="team-card"
            [disabled]="team.started"
            [team]="team"
            [template]="teamContentTemplate"
        />
    </div>
</ng-template>



