<div class="content-wrapper">
    <mat-card class="card queue-card" appearance="outlined">
        <div class="card__header">
            @if (queueSelection.selectedQueueUsers.length > 0) {
                <button
                    class="controls-button controls-button--top-left-radius"
                    mat-raised-button
                    matTooltipClass="multi-line-tooltip"
                    matTooltip="Deselect All [shift+A]"
                    (click)="queueSelection.setSelectedQueueUsers([])"
                >
                    <mat-icon
                        class="controls-button__icon"
                    >deselect
                    </mat-icon>
                </button>
            } @else {
                <button
                    class="controls-button controls-button--top-left-radius"
                    mat-raised-button
                    matTooltip="Select All [A]"
                    (click)="queueSelection.setSelectedQueueUsers(this.filteredPlayersSubject.value)"
                >
                    <mat-icon
                        class="controls-button__icon"
                    >select_all
                    </mat-icon>
                </button>
            }
            <div class="search-wrapper">
                <input
                    class="search-input"
                    matInput
                    placeholder="Search player"
                    (change)="filterQueue($event.target.value)"
                    [value]="playerNameFilterSubject.value"
                />
                <i class="material-icons search-icon"
                   (click)="filterQueue('')"
                >{{ playerNameFilterSubject.value.length > 0 ? 'close' : '' }}</i>
            </div>
            <span
                class="card__header__title"
            >
                {{ getPlayersCountLabel() }}
      </span>
        </div>
        <mat-card-content
            class="card-content round-scrollbar">
            <crczp-selectable-list
                class="h-100"
                (selectionChange)="queueSelection.setSelectedQueueUsers($event)"
                (dragSelectionChange)="queueSelection.intervalSelectedUsers = $event"
                [selectedItems]="queueSelection.selectedQueueUsers"
                [items]="waitingPlayers$ | async"
                [template]="playerViewTemplate"
                [idFunction]="getId"
                [compareFunction]="compareUsers"
                [gridTemplate]="'minmax(2rem, auto) / repeat(auto-fit, minmax(11rem, 1fr))'"
                [gridGap]="'0.5rem'"
            />
        </mat-card-content>
    </mat-card>
    <div class="middle-wrapper">
        <button mat-icon-button>
            <mat-icon>
                info
            </mat-icon>
        </button>
        <div class="movement-controls">
            @if (queueSelection.selectedQueueUsers.length > 0) {
                <button
                    mat-fab
                    color="primary"
                    class="movement-controls__button"
                    matTooltip='Create a new team with selected players'
                    matTooltipPosition="after"
                    (click)="createNewTeamFromQueueSelection()"
                >
                    <i class="material-icons">group_add</i>
                </button>
                <button
                    mat-fab
                    color="primary"
                    class="movement-controls__button"
                    matTooltip='Automatically assign selected players to existing teams'
                    matTooltipPosition="after"
                    (click)="autoAssignQueueSelection()"
                >
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
            } @else if (queueSelection.selectedTeamsUsers.length > 0) {
                <button
                    mat-fab
                    class="movement-controls__button"
                    matTooltip='Return selected players to queue'
                    matTooltipPosition="after"
                    (click)="returnSelectionToQueue()"
                >
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
            }
            <button
                mat-fab
                color="primary"
                class="movement-controls__button"
                matTooltip='Automatically assign all players to teams, creating new teams if necessary'
                matTooltipPosition="after"
                (click)="autoAssignAll()"
            >
                <i class="material-icons">keyboard_double_arrow_right</i>
            </button>
        </div>
    </div>
    <mat-card class="card teams-card" appearance="outlined">
        <div class="card__header">
            <button
                class="controls-button controls-button--top-left-radius"
                mat-raised-button
                matTooltip='Balance teams [B]'
                (click)="balanceTeams()"
            >
                <mat-icon
                    class="controls-button__icon"
                >shuffle
                </mat-icon>
            </button>
            <button
                class="controls-button"
                mat-raised-button
                [matTooltip]="showLockedTeams() ? 'Hide Locked Teams [L]' : 'Show Locked Teams [L]'"
                (click)="showLockedTeams.set(!showLockedTeams())"
            >
                <mat-icon
                    class="controls-button__icon"
                >
                    {{ showLockedTeams() ? "visibility_off" : "visibility_on" }}
                </mat-icon>
            </button>
            <div class="search-wrapper">
                <input
                    class="search-input"
                    matInput
                    placeholder="Search team"
                    (change)="filterTeams($event.target.value)"
                    [value]="teamNameFilterSubject.value"
                />
                <i class="material-icons search-icon"
                   (click)="filterTeams('')"
                >{{ teamNameFilterSubject.value.length > 0 ? 'close' : '' }}</i>
            </div>
            <span class="card__header__title">
                {{ getTeamsCountLabel() }}
            </span>
        </div>
        <mat-card-content class="card-content round-scrollbar">
            <button
                mat-fab
                color="primary"
                class="teams-card__add-button"
                [matTooltip]="'Add Team'"
                (click)="createNewTeam()"
            >
                <i class="material-icons">add</i>
            </button>
            <crczp-grid-list
                [items]="(preparedTeams$ | async).concat(showLockedTeams() ? (lockedTeams$ | async) : [])"
                [template]="teamOverviewTemplate"
                [trackBy]="getId"
                [gridTemplate]="'auto / 100%'"
                [gridGap]="'0.5rem'"
            />
        </mat-card-content>
    </mat-card>
</div>

<ng-template #playerViewTemplate let-player>
    <crczp-player-view
        class="
      player-view
      {{queueSelection.isInSelectionInterval(player) ? 'player-view--no-hover' : ''}}
      {{queueSelection.isSelected(player) ? 'player-view--selected' : ''}}
      {{queueSelection.isInSelectionInterval(player) ? queueSelection.isIntervalSelectionInverted() ?
      'player-view--inverted-interval-selected' : 'player-view--interval-selected' : ''}}
      "
        [player]="player"
    />
</ng-template>

<ng-template #teamContentTemplate let-team>
    <div class="team-view__team-content">
        @if (team.members.length === 0) {
            <div class="team-card__players--empty"></div>
        } @else {
            <crczp-selectable-list
                [items]="team.members.sort(compareTeams)"
                [template]="playerViewTemplate"
                [idFunction]="getId"
                [compareFunction]="compareUsers"
                [gridTemplate]="'minmax(2rem, auto) / repeat(auto-fill, minmax(11rem, 1fr))'"
                [gridGap]="'0.5rem'"
                [selectedItems]="queueSelection.getSelectionForTeam(team.id)"
                (selectionChange)="queueSelection.setSelectedTeamsUsers(team.id, $event)"
                (dragSelectionChange)="queueSelection.intervalSelectedUsers = $event"
            />
        }
    </div>
</ng-template>

<ng-template #teamOverviewTemplate let-team>
    <div class="team-left-panel">
        @if (!team.locked) {
            <div class="team-content__left_controls">
                <button
                    class="controls-button controls-button--top-left-radius controls-button--tertiary"
                    mat-raised-button
                    [matTooltip]="'Disband team'"
                    matTooltipPosition="before"
                    [disabled]="team.id === undefined"
                    (click)="disbandTeam(team.id)"
                >
                    <i class="material-icons tertiary-icon">delete</i>
                </button>
                <button
                    class="controls-button controls-button--tertiary"
                    mat-raised-button
                    (click)="queueSelection.selectedQueueUsers.length > 0 ?
                moveSelectedFromQueueToTeam(team) :
                moveSelectedUsersBetweenTeams(team)"
                    [disabled]="queueSelection.getSelectedUsers().length === 0 ||
                    trainingInstance.maxTeamSize - team.members.length <= 0 ||
                    team.id === undefined"
                    [matTooltip]="'Assign selected players to this team'"
                    matTooltipPosition="before"
                >
                    <i class="material-icons">add</i>
                </button>
            </div>
            } @else {
            <div class="team-left-panel__filler"></div>
            }
        <crczp-team-overview-component
            class="team-card"
            [editMode]="!team.locked"
            [disabled]="team.locked"
            [team]="team"
            [template]="teamContentTemplate"
            (lockTeam)="lockTeam(team.id)"
            (updateName)="renameTeam(team.id, $event)"
            [nameError]="getError(team.id)"
        />
    </div>
</ng-template>



