<mat-tab-group mat-stretch-tabs class="mat-elevation-z4" *ngIf="(trainingInstance$ | async) as trainingInstance">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">insights</mat-icon>
            Progress
        </ng-template>
        <ng-template matTabContent>
            <div class="container">
                <crczp-hurdling-visualization
                    view="progress"
                    [trainingInstanceId]="trainingInstance?.id">
                </crczp-hurdling-visualization>
            </div>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">timeline</mat-icon>
            Command timeline
        </ng-template>
        <ng-template matTabContent>
            <div class="container">
                <crczp-timeline [trainingInstanceId]="trainingInstance.id" [isStandalone]="true"></crczp-timeline>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>

