<div class="anchor-div">
    <mat-card
        class="answer-form highlighted-resizer"
    >
        <ng-content/>
        <div class="answer-row">
            <mat-form-field
                class="input-form-field"
                subscriptSizing="dynamic"
                appearance="outline"
                (keydown.enter)="$event.preventDefault()">
                <input
                    matInput
                    placeholder="Answer"
                    autocomplete="off"
                    (keydown)="keyboardSubmitAnswer($event)"
                    [(ngModel)]="answer"
                    [ngModelOptions]="{ standalone: true }"
                />
                <button
                    matSuffix
                    mat-icon-button
                    [hidden]="!answer"
                    aria-label="Clear"
                    (click)="answer = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button
                mat-flat-button
                class="submit-button"
                color="primary"
                (click)="submitAnswer()"
            >
                {{ buttonLabel }}
            </button>
        </div>
    </mat-card>
</div>
