<sentinel-controls [controls]="topControls" (itemClicked)="onControlsAction($event)"> </sentinel-controls>
<sentinel-table
  [defaultSortDirection]="INIT_SORT_DIR"
  [defaultSortName]="INIT_SORT_NAME"
  [data]="trainingDefinitions$ | async"
  [hasError]="hasError$ | async"
  [isLoading]="isLoading$ | async"
  [displayedActionsCount]="7"
  (tableLoad)="onLoadEvent($event)"
  (rowAction)="onTableAction($event)"
>
</sentinel-table>
<div class="bottom-controls">
  <sentinel-controls [controls]="bottomControls" [titlecased]="false" (itemClicked)="onControlsAction($event)"> </sentinel-controls>
</div>
