h3 {
  color: #3f51b5;
}


mat-card-header {
  align-items: baseline;
}

.spacer {
  flex: 1 0 auto;
}

.required {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

mat-card {
  margin: 20px 0;
}

sentinel-markdown-view {
  color: #3f51b5;
}

