<div class="content">
  <form [formGroup]="trainingInstanceFormGroup.formGroup">
    <!--TITLE field-->
    <mat-form-field appearance="outline" (keydown.enter)="$event.preventDefault()">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" required />
      <button *ngIf="title.value" matSuffix mat-icon-button aria-label="Clear" (click)="title.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="title.hasError('whitespace')">This field is required</mat-error>
    </mat-form-field>

    <div class="panel-wrapper">
      <div class="half-panel">
        <!-- START TIME field -->
        <mat-form-field
          class="multi-line-hint"
          hintLabel="When trainees can access training runs - Defaults to current time"
          [owlDateTimeTrigger]="startTimePicker"
          appearance="outline"
        >
          <mat-label>Start Time</mat-label>
          <div class="input-wrapper">
            <input
              matInput
              placeholder="Start Time"
              [min]="now"
              [max]="endTime.value"
              formControlName="startTime"
              [owlDateTime]="startTimePicker"
            />
            <owl-date-time #startTimePicker [startAt]="startTime.value"></owl-date-time>
          </div>
          <mat-error *ngIf="trainingInstanceFormGroup.formGroup.hasError('startTimeAfterEndTime')"
            >Start time must be before end time</mat-error
          >
          <mat-error *ngIf="startTime.hasError('dateInPast')">Start time cannot be in the past</mat-error>
          <mat-error *ngIf="startTime.hasError('required')">This field is required</mat-error>
        </mat-form-field>

        <!-- END TIME field -->
        <mat-form-field
          class="multi-line-hint"
          hintLabel="Trainees cannot access training runs after end time
          expires"
          [owlDateTimeTrigger]="endTimePicker"
          appearance="outline"
        >
          <mat-label>End Time</mat-label>
          <div class="input-wrapper">
            <input
              matInput
              placeholder="End Time"
              required
              [min]="startTime.value"
              formControlName="endTime"
              [owlDateTime]="endTimePicker"
            />
            <owl-date-time #endTimePicker [startAt]="endTime.value ? endTime.value : startTime.value"></owl-date-time>
          </div>
          <mat-error *ngIf="trainingInstanceFormGroup.formGroup.hasError('startTimeAfterEndTime')"
            >Start time must be before end time</mat-error
          >
          <mat-error *ngIf="endTime.hasError('dateInPast')">End time cannot be in the past</mat-error>
          <mat-error *ngIf="endTime.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <div class="slide-toggle-container">
          <div class="slide-toggle-container slide-toggle-container--vertical">
            <mat-slide-toggle
              [matTooltip]="
          showStepperBar
            ? 'Show Stepper bar to allow trainees to see their progress through levels during training run.'
            : 'Hide Stepper bar to disallow trainees to see their progress through levels during training run.'
        "
              formControlName="showStepperBar"
            >
              Show Stepper Bar
            </mat-slide-toggle>
            <mat-slide-toggle
              [matTooltip]="
            backwardMode
              ? 'Enable Backward Mode to allow trainees move to previous accessed levels during training run.'
              : 'Disable Backward Mode to disallow trainees move to previous accessed levels during training run.'
          "
              formControlName="backwardMode"
              [checked]="showStepperBar && backwardMode"
            >
              Backward Mode
            </mat-slide-toggle>
          </div>
          <mat-slide-toggle
            [matTooltip]="
              (localEnvironment.valueChanges | async)
              ? 'Enable Local Environment to disable the pool selection.'
              : 'Disable Local Environment to enable the pool selection.'
          "
            formControlName="localEnvironment"
          >
            Local Environment
          </mat-slide-toggle>
        </div>
      </div>

      <div class="half-panel">
        <!-- ACCESS TOKEN filed -->
        <mat-form-field
          appearance="outline"
          class="multi-line-hint"
          (keydown.enter)="$event.preventDefault()"
        >
          <mat-label>Access Token Prefix</mat-label>
          <input matInput placeholder="Access Token" formControlName="accessTokenPrefix" required />
          <button
            *ngIf="accessTokenPrefix.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            [disabled]="hasStarted"
            (click)="accessTokenPrefix.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint *ngIf="!editMode">Generated PIN code will be added to your token</mat-hint>
          <mat-hint *ngIf="editMode">Whenever you change the access token a new PIN will be generated</mat-hint>
          <mat-error *ngIf="accessTokenPrefix.hasError('whitespace')">This field is required</mat-error>
        </mat-form-field>

        <!-- TRAINING DEFINITION field-->
        <mat-form-field
          appearance="outline"
          class="multi-line-hint"
          (keydown.enter)="$event.preventDefault()"
        >
          <mat-label>Training Definition</mat-label>
          <mat-select
            placeholder="Training Definition"
            formControlName="trainingDefinition"
            hei
            required
          >
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let trainingDefinition of trainingDefinitions" [value]="trainingDefinition.id"
            >
              <mat-icon>
                {{ trainingDefinition.state === 'Released' ? 'lock' : 'lock_open' }}
              </mat-icon>
              {{ trainingDefinition.title.substring(3) }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="trainingDefinition.hasError('required')">This field is required</mat-error>
        </mat-form-field>

        <!-- EDIT SANDBOX DEFINITIONS -->
        <mat-form-field appearance="outline" >
          <mat-label>
            {{ localEnvironment.value ? 'Sandbox Definition' : 'Pool' }}
          </mat-label>
          <mat-select
            [placeholder]="localEnvironment.value ? 'Select Sandbox Definition' : 'Select Pool'"
            [formControlName]="localEnvironment.value ? 'sandboxDefinitionId' : 'poolId'"
            required
          >
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let value of localEnvironment.value ? sandboxDefinitions : pools" [value]="value.id"
                        [disabled]="!localEnvironment.value && value.isLocked()"
            >
              {{
                localEnvironment.value
                  ? value.title + ' [rev: ' + value.rev + ']'
                  : 'Pool ' + value.id + ' - ' + value.definition.title + ' [rev: ' + value.definition.rev + ']'
              }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="trainingDefinition.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
