<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <h3>Question {{ index + 1 }}:</h3>
            <h3>
                <sentinel-markdown-view [markdown]="question.title"/>
            </h3>
        </mat-card-title>
        <span class="spacer"></span>
        <div class="required">
            <mat-checkbox class="mat-typography"
                          [disabled]="isTest"
                          [checked]="isTest"
                          (change)="questionChanged(question)"
                          [(ngModel)]="question.required">
                Required
            </mat-checkbox>
        </div>
    </mat-card-header>
    <mat-card-content>
        <ng-container [ngSwitch]="true">
            <crczp-multiple-choice-question-edit *ngSwitchCase="isMcq"
                                                (questionChange)="questionChanged($event)"
                                                [question]="question"
                                                [required]="question.required"
                                                [isTest]="isTest">
            </crczp-multiple-choice-question-edit>
            <crczp-free-form-question-edit *ngSwitchCase="isFfq"
                                          (questionChange)="questionChanged($event)"
                                          [question]="question"
                                          [required]="question.required"
                                          [isTest]="isTest">
            </crczp-free-form-question-edit>
            <crczp-extended-matching-items *ngSwitchCase="isEmi"
                                          (questionChange)="questionChanged($event)"
                                          [question]="question"
                                          [required]="question.required"
                                          [isTest]="isTest">
            </crczp-extended-matching-items>
        </ng-container>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="warn" (click)="onDelete(index)">Delete</button>
    </mat-card-actions>
</mat-card>


