<div class="phase-header">
  <h1
    class="phase-title"
  >{{ phase?.title }}</h1>
  <kypo-training-timer
    matTooltipPosition="above"
    matTooltip="Time since the start of the run"
    class="timer" *ngIf="startTime" [startTime]="startTime"/>
</div>
<ng-container [ngSwitch]="phase?.type">
  <kypo-questionnaire-phase
    *ngSwitchCase="phaseTypes.Questionnaire"
                            [phase]="phase"
                            [isBacktracked]="isBacktracked"
                            [isLast]=isLast
                            [isPhaseAnswered]="isPhaseAnswered"
                            (next)="onNext()">
  </kypo-questionnaire-phase>
  <kypo-training-phase *ngSwitchCase="phaseTypes.Training"
                       [phase]="phase"
                       [isLast]=isLast
                       [isBacktracked]="isBacktracked"
                       [isStepperDisplayed]="isStepperDisplayed"
                       [sandboxInstanceId]="sandboxInstanceId"
                       [sandboxDefinitionId]="sandboxDefinitionId"
                       [isPhaseAnswered]="isPhaseAnswered"
                       (next)="onNext()">
  </kypo-training-phase>
  <kypo-info-phase *ngSwitchCase="phaseTypes.Info"
                   [phase]="phase"
                   [isLast]="isLast"
                   [isBacktracked]="isBacktracked"
                   (next)="onNext()">
  </kypo-info-phase>
  <kypo-access-phase *ngSwitchCase="phaseTypes.Access"
                     [phase]="phase"
                     [isLast]=isLast
                     [isBacktracked]="isBacktracked"
                     [isStepperDisplayed]="isStepperDisplayed"
                     [sandboxInstanceId]="sandboxInstanceId"
                     [sandboxDefinitionId]="sandboxDefinitionId"
                     [localEnvironment]="localEnvironment"
                     [isPhaseAnswered]="isPhaseAnswered"
                     (next)="onNext()">
  </kypo-access-phase>
</ng-container>


