<h1>{{ phase?.title }}</h1>
<ng-container [ngSwitch]="phase?.type">
  <kypo-questionnaire-phase *ngSwitchCase="phaseTypes.Questionnaire"
                            [phase]="phase"
                            [isBacktracked]="isBacktracked"
                            [isLast]=isLast
                            (next)="onNext()">
  </kypo-questionnaire-phase>
  <kypo-training-phase *ngSwitchCase="phaseTypes.Training"
                       [phase]="phase"
                       [isLast]=isLast
                       [isBacktracked]="isBacktracked"
                       [sandboxInstanceId]="sandboxInstanceId"
                       [sandboxDefinitionId]="sandboxDefinitionId"
                       (next)="onNext()">
  </kypo-training-phase>
  <kypo-info-phase *ngSwitchCase="phaseTypes.Info"
                   [phase]="phase"
                   [isLast]="isLast"
                   [isBacktracked]="isBacktracked"
                   [isLoading]="isLoading"
                   (next)="onNext()">
  </kypo-info-phase>
  <kypo-access-phase *ngSwitchCase="phaseTypes.Access"
                     [phase]="phase"
                     [isLast]=isLast
                     [isBacktracked]="isBacktracked"
                     [sandboxInstanceId]="sandboxInstanceId"
                     [sandboxDefinitionId]="sandboxDefinitionId"
                     [localEnvironment]="localEnvironment"
                     (next)="onNext()">
  </kypo-access-phase>
</ng-container>


