<div>
  <form [formGroup]="questionnaireFormGroup.formGroup">
    <!-- TITLE filed -->
    <mat-form-field
      appearance="outline"
      (keydown.enter)="$event.preventDefault()"
    >
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Title"
        formControlName="title"
        required
      />
      <button
        *ngIf="title.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="title.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="title.hasError('required')">Title cannot be empty</mat-error>
    </mat-form-field>

    <!-- QUESTIONS component -->
    <kypo-adaptive-questions-overview [questions]="phase.questions"
                                      [questionnaireOrder]="phase.order"
                                      [questionnaireType]="phase.questionnaireType"
                                      (questionsChange)="onQuestionsChanged($event)"
                                      (deleteRelationChange)="removeQuestionFromRelations($event)">
    </kypo-adaptive-questions-overview>

    <div *ngIf="phase.questionnaireType === questionnaireTypes.Adaptive">
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Question-Phase Relations</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div formArrayName="phaseRelations">
            <div *ngFor="let relationGroup of phaseRelations.controls; index as k;" [formGroupName]="k">
              <mat-divider class='bold-mat-divider'></mat-divider>
              <div class="question-container">
                <h1>{{ getTrainingPhaseTitle(phaseRelations.at(k).value.phaseId) }}</h1>
                <div class="question-options">
                  <button matTooltip="Only saved questions can be added" mat-flat-button color="primary" [matMenuTriggerFor]="menu">
                    <span>Add Question</span>
                    <mat-icon inline="true">arrow_drop_down</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <div *ngIf="getValidQuestionMenuItems(k).length > 0 else noQuestions">
                      <button mat-menu-item *ngFor="let question of getValidQuestionMenuItems(k)"
                              (click)="onQuestionAddedToRelation(k, question.id)">
                        <mat-icon> {{getQuestionIconById(question.id)}} </mat-icon>
                        <span> {{ question.text }} </span>
                      </button>
                    </div>
                    <ng-template #noQuestions>
                      <p class="empty-menu-text"> No questions available </p>
                    </ng-template>
                  </mat-menu>
                  <button mat-flat-button color="warn" (click)="deleteRelation(k)">Remove</button>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="relation-fields">
                <div>
                  <p>Questions: </p>
                  <div *ngFor="let qId of phaseRelations.at(k).value.questionIds">
                    <div class="question-in-relation">
                      <mat-icon style="vertical-align: sub"> {{ getQuestionIconById(qId) }}</mat-icon>
                      <span> {{qId}}: {{ getQuestionTitleById(qId) }}</span>
                      <button mat-button matSuffix mat-icon-button aria-label="Delete option"
                              color="warn" matTooltip="Delete option"
                              (click)="onQuestionRemovedFromRelation(k, qId)">
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="relation-options">
                  <mat-form-field
                    appearance="outline"
                  >
                    <mat-label>Success Rate Percentage</mat-label>
                    <input
                      matInput
                      placeholder="Success Rate"
                      type="number"
                      formControlName="successRate"
                      required
                    />
                  <mat-error>Success Rate must be in range of 0 - 100</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="relation-options">
              <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
                <span>Add Relation</span>
                <mat-icon inline="true">arrow_drop_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div *ngIf="phaseRelationMenuItems.length > 0 else noPhases">
                  <button mat-menu-item *ngFor="let item of phaseRelationMenuItems"
                          (click)="onRelationCreated(item)">
                    {{ item.title }}
                  </button>
                </div>
                <ng-template #noPhases>
                  <p class="empty-menu-text">No phases available</p>
                </ng-template>
              </mat-menu>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </div>
  </form>
</div>
