h1 {
    text-align: center;
}

.username {
    user-select: none;
    color: white;
    padding: 0.25rem 0.75rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    background: #2222aa;
    border-radius: 2rem;
    /* Font with serifs for name, other than Times New Roman */
    font-family: 'Georgia', serif;
}
