<sentinel-table
    elevation="0"
    [data]="adaptiveRuns"
    [hasError]="hasError"
    (rowAction)="onTableAction($event)"
    (tableLoad)="onTableLoadEvent($event)">
    >
    <ng-container *sentinelRow="'eventLogging'; template: eventLogging"/>
    <ng-container *sentinelRow="'commandLogging'; template: commandLogging"/>
</sentinel-table>


<ng-template #eventLogging let-row>
    <div *ngIf="row.element.eventLogging else eventNotWorking" class="stages">
        <div matRipple [matRippleCentered]='true' class="stage-container" [matTooltip]="'Trainees events are logged'">
            <mat-icon class="material-icons-outlined workingState">check</mat-icon>
        </div>
    </div>
    <ng-template #eventNotWorking>
        <mat-icon class="warning" [matTooltip]="'No training events logged yet.'">warning</mat-icon>
    </ng-template>
</ng-template>

<ng-template #commandLogging let-row>
    <div *ngIf="row.element.commandLogging else commandsNotWorking" class="stages">
        <div matRipple [matRippleCentered]='true' class="stage-container" [matTooltip]="'Trainees commands are logged'">
            <mat-icon class="material-icons-outlined workingState">check</mat-icon>
        </div>
    </div>
    <ng-template #commandsNotWorking>
        <mat-icon class="warning" [matTooltip]="'No training commands logged yet.'">warning</mat-icon>
    </ng-template>
</ng-template>
