@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

html {
  height:100vh;
}

body {
  margin: 0;
  min-height:100vh;
}

.mdc-label {
  font-size: 1rem;
}

:root .mat-typography h1 {
  font-size: 2rem !important;
  font-weight: 500;
  line-height: 1.2;
}

:root .mat-typography h2 {
  font-size: 1.5rem !important;
  font-weight: 400;
  line-height: 1.2;
}

:root .mat-typography h3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}

:root .mat-typography h4 {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.2;
}

mat-panel-title {
  @extend h3
}

kypo-auth-provider-picker {
  width: 500px;
  display: block;
  margin: 10% auto;
}
