@use '~@angular/material' as mat;
@import '~@sentinel/layout/assets/sentinel-variables';

$primary: mat.get-color-from-palette($sentinel-primary-palette);
$accent: mat.get-color-from-palette($sentinel-accent-palette);
$warn: mat.get-color-from-palette($sentinel-warn-palette);
$success: #6df000;
$non-accent: #808080;
