.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.footer {
  margin-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}

.questions {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.rfq-question {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.rfq-question div {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}

.rfq-answer {
  display: block;
  align-items: center;
}

.mcq-question div {
  display: flex;
  flex-direction: row;
}

.mcq-question mat-checkbox {
  margin-right: 20px;
}
