<mat-card class="team-card"
          [appearance]="appearance"
          disabled
>
  <mat-card-header>
    <crczp-mat-card-notch-title>{{ team.name }}</crczp-mat-card-notch-title>
  </mat-card-header>
  <mat-card-content>
    <ng-template [ngTemplateOutlet]="template || defaultTemplate"
                 [ngTemplateOutletContext]="{$implicit: team }"/>
  </mat-card-content>
</mat-card>

<ng-template #playerViewTeplate let-player>
  <crczp-player-view
    [player]="player">
  </crczp-player-view>
</ng-template>

<ng-template #defaultTemplate let-team>
  <div class="team-card__players">
    <crczp-grid-list
      [items]="team.members"
      [template]="playerViewTeplate"
      [trackBy]="playerTrackBy"
    />
</div>
</ng-template>
