<h2>{{ trainingInstance?.title | sentinelShortString: 30}}</h2>
<h3>of Adaptive Training Definition: {{ trainingDefinition?.title | sentinelShortString: 30 }}</h3>
<p>{{ trainingDefinition.description }}</p>
<p>Access token: <a [routerLink]="accessTokenLink">{{ trainingInstance.accessToken }}</a></p>
<p>Start Time: {{ trainingInstance.startTime | sentinelDateTimeFormat }}</p>
<p>End Time: {{ trainingInstance.endTime | sentinelDateTimeFormat }}</p>
<p>Pool: <a *ngIf="hasPool else noPool" [routerLink]="poolIdLink">Pool {{ trainingInstance.poolId }}</a></p>

<ng-template #noPool>
  <span>No assigned pool</span>
</ng-template>
