<crczp-generic-sandbox-level
    [levelContent]="localEnvironment ? level?.localContent : level?.cloudContent"
    [sandboxDefinitionId]="sandboxDefinitionId"
    [sandboxInstanceId]="sandboxInstanceId"
    [isLoading]="isLoading$"
    [isLast]="isLast"
    [isBacktracked]="isBacktracked"
    [isCorrectAnswerSubmitted$]="isCorrectPasskeySubmitted$"
    [displayedHintsContent$]="of()"
    [displayedSolutionContent$]="of()"

    (next)="onNext()"
    (answerSubmitted)="onAnswerSubmitted($event)"
    (getAccessFile)="onAccessFileRequested()"
/>
